.header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    height: 70px;
}
.header img{
    height: 80px;
}
.header nav{
    font-size: 20px;
    text-align: center;
}
nav a{
    text-decoration: none;
    color:aliceblue;
    margin-right: 20px;
    padding: 5px;
}